@import url(https://fonts.googleapis.com/css?family=Raleway);

/*
body{
   font-family: 'Raleway',serif;
   background: #7f8c8d;
}
*/

@media (min-width: 992px) {
    .typo-line {
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }
    .typo-line .category {
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.all-icons [class*="pe-"] {
    font-size: 40px;
}

.all-icons input {
    border: 0;
}

.all-icons .font-icon-detail {
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}

.all-icons .font-icon-detail input {
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}


/*Styling for the committees*/

.committee-detail img {
    width: 100%;
    height: 100%;
    align-self: center;
    /*    font-size: 40px;*/
}

.committees a input,
.committees input {
    border: 0;
    background-color: white;
}

.committees .committee-detail {
    text-align: center;
    /*		align-content: center;*/
    padding: 30px 5px 30px 5px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}

.committees .committee-detail input {
    margin: 10px 0px 0px 0px;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

.committees-none {
    text-align: center;
    font-size: 17px;
}

.committee-link:hover *,
.committee-detail:hover * {
    background-color: #eee
}


/*========================*/

td {
    text-align: center;
    vertical-align: middle;
}

th {
    vertical-align: middle;
}

.truncate-data {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.truncate-data:hover {
    white-space: normal;
}

th {
    text-align: center;
    vertical-align: middle;
}

#map {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
}

.places-buttons .btn {
    margin-bottom: 30px
}

.sidebar .nav>li.active-pro {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.sidebar .nav>li.active-pro a {
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3) {
    text-align: center;
}

.dropdown-title {
    background-color: #F5F5F5;
}

.tr-image {
    width: auto;
    height: 70%;
}


/*placeholder for select input tag*/

select:required:invalid {
    color: gray;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}


/*-------------------------------*/


/*New Member form styling*/

.new-member-form-control {
    padding-left: 5px;
    padding-right: 2px;
}

.success_message {
    color: green;
}

.error_message {
    color: red;
}


/*-------------------------*/