{% extends 'base.html' %}

{% block main_content %}

  <nav class="navbar navbar-default navbar-fixed">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <p class="navbar-brand">Add Gift</p>
      </div>
      <div class="collapse navbar-collapse">

        </ul>
      </div>
    </div>
  </nav>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Add Gift</h4>
            </div>

            <div class="content">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Number of Coupons</label>
                      <input type="number" class="form-control" placeholder="eg. 32">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Gift Label</label>
                      <textarea rows="5" class="form-control" placeholder="All necessary details required to be displayed to user. eg. A paid one-day trip to Rattray Park, Kumasi"></textarea>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-info btn-fill pull-right">Add</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_scripts %}
<script>
    //we select the button in the navbar that should be highlighted
    document.getElementById("navAddGift").className += " active";
</script>
{% endblock %}