<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta id="siteUrls" logoutUrl="{% url 'admin-members' %}" deleteMemberUrl="{% url 'admin-member_delete' id=0 action='inact'%}">
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.ico' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>GOSPEL EXPLOSION</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <!--<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <!--<link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet" />-->

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static 'assets/css/light-bootstrap-dashboard.css' %}" rel="stylesheet" />

    <link href="{% static 'assets/css/styles.css' %}" rel='stylesheet' />


    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
    <link href="{% static 'assets/css/pe-icon-7-stroke.css' %}" rel="stylesheet" />

</head>

<body>

    <div class="wrapper">

        <div class="sidebar" data-color="azure" data-image="{% static 'assets/img/sidebar-5.jpg' %}">

            <!--
        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag
    	-->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="simple-text">
                    GOSPEL EXPLOSION
                </a>
                </div>

                <ul class="nav">
                    <li id="navMembers">
                        <a href="{% url 'admin-members' %}">
                            <i class="pe-7s-id"></i>
                            <p>Members</p>
                        </a>
                    </li>
                    <li id="navCommittees">
                        <a href="{% url 'admin-committees' %}">
                            <i class="pe-7s-users"></i>
                            <p>Committees</p>
                        </a>
                    </li>
                    <li id="navSections">
                        <a href="{% url 'admin-sections' %}">
                            <i class="pe-7s-users"></i>
                            <p>Sections</p>
                        </a>
                    </li>
                    <li id="navHostels">
                        <a href="{% url 'admin-hostels' %}">
                            <i class="pe-7s-home"></i>
                            <p>Hostels</p>
                        </a>
                    </li>
                    <li id="navProgrammesOfStudy">
                        <a href="{% url 'admin-programmes_of_study' %}">
                            <i class="pe-7s-users"></i>
                            <p>Programmes Of Study</p>
                        </a>
                    </li>
                    <li style="display:none;" id="navBibleStudyOutline">
                        <a href="{% url 'admin-bible_study_outline' %}">
                            <i class="pe-7s-notebook"></i>
                            <p>Bible Study Outline</p>
                        </a>
                    </li>
                    <li id="navMusicRoom">
                        <a href="{% url 'admin-music_room' %}">
                            <i class="pe-7s-musiclist"></i>
                            <p>Music Room</p>
                        </a>
                    </li>
                    <li id="navGallery">
                        <a href="{% url 'admin-gallery' %}">
                            <i class="pe-7s-photo"></i>
                            <p>Gallery</p>
                        </a>
                    </li>
                    <li id="navNotifications">
                        <a href="{% url 'admin-notifications' %}">
                            <i class="pe-7s-bell"></i>
                            <p>Notifications</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">

            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
						            </button>
                        <p class="navbar-brand">{{ page_title }}</p>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#logout" onclick="return logout(false);">Log out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- ############################################################   -->
            <!-- The main  content for each of the pages will appear here   -->
            {% block main_content %}
            <!--the content of the various pages will go here-->
            {% endblock %}
            <!-- ############################################################   -->
            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right">
                        &copy; {% now 'Y' %} <a href="#">XPLO KNUST - IT SECTION</a>, with ♥
                    </p>
                </div>
            </footer>
        </div>

    </div>
    <!-- ############################################################   -->
    {% block modals %}
    <!-- The markup for modals and dialogs will appear here   -->
    {% endblock %}
    <!-- ############################################################   -->
</body>

<!--   Core JS Files   -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<!--<script src="{% static 'assets/js/jquery-1.10.2.js' %}" type="text/javascript"></script>-->
<!--<script src="{% static 'assets/js/bootstrap.min.js' %}" type="text/javascript"></script>-->

<!--  Checkbox, Radio & Switch Plugins• -->
<!--<script src="{% static 'assets/js/bootstrap-checkbox-radio-switch.js' %}"></script>-->

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="{% static 'assets/js/light-bootstrap-dashboard.js' %}"></script>

<script>
    function logout(follow_href) {
        var logout_url = document.getElementById("siteUrls").getAttribute("logoutUrl");
        alert(logout_url + " dhfhdj");
        document.location.replace(logout_url);
        return follow_href;
    }

    function insertQueryParams(url, key, value) {
        key = encodeURI(key);
        value = encodeURI(value);

        var kvp = url.search.substr(1).split('&');

        var i = kvp.length;
        var x;
        while (i--) {
            x = kvp[i].split('=');

            if (x[0] == key) {
                x[1] = value;
                kvp[i] = x.join('=');
                break;
            }
        }

        if (i < 0) {
            kvp[kvp.length] = [key, value].join('=');
        }

        return kvp.join('&');
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie("csrftoken")
    $.ajaxSetup({
        //before any ajax request, the following function will run
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                //we send the token to same origin requests only
                //and if the request method is not 'safe'
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
<!-- ############################################################   -->
{% block extra_scripts %}
<!-- The extra scripts for the individual pages will appear here  -->
{% endblock %}
<!-- ############################################################   -->

</html>