{% extends 'base.html' %} {% block main_content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                <div class="card">
                    <div class="content">
                        <form id="memberForm" action="{% url 'admin-member_detail' id=member.id %}" onsubmit="return validateForm(this)" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!--member's names section-->
                            <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                                <!--surname section-->
                                <div class="col-md-6" style="padding:0px;">
                                    <div class="new-member-form-control">
                                        <div class="form-group">
                                            <label for="memberSurname" class="control-label">Surname</label>
                                            <!--<label id="editNumberOfCouponsError" style="color: red;padding: 0px 15px;"></label>-->
                                            <input value="{{ member.last_name}}" style="width:100%" type="text" class="form-control" id="memberSurname" name="last_name" placeholder="Surname" required>
                                        </div>
                                    </div>
                                </div>
                                <!--first name section-->
                                <div class="col-md-6 " style="padding:0px;">
                                    <div class="new-member-form-control">
                                        <div class="form-group">
                                            <label for="memberFirstName" class="control-label">First Name</label>
                                            <!--<label id="editNumberOfCouponsError" style="color: red;padding: 0px 15px;"></label>-->
                                            <input value="{{ member.first_name }}" style="width:100%" type="text" class="form-control" id="memberFirstName" name="first_name" placeholder="First Name" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--other names section-->
                            <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                                <div class="col-md-10" style="padding:0px;">
                                    <div class="new-member-form-control">
                                        <div class="form-group">
                                            <label for="memberOtherNames" class="control-label">Other Names</label>
                                            <!--<label id="editNumberOfCouponsError" style="color: red;padding: 0px 15px;"></label>-->
                                            <input value="{{ member.other_names }}" type="text" class="form-control" id="memberOtherNames" name="other_names" placeholder="Other Names">
                                        </div>
                                    </div>
                                </div>
                                <!--gender section-->
                                <div class="col-md-2 " style="padding:0px;">
                                    <div class="new-member-form-control">
                                        <div class="form-group">
                                            <label for="memberGender" class="control-label">Gender</label>
                                            <select name="gender" class="form-control" id="memberGender" required>                                         
                                                <option value="" disabled >Select</option>                      
                                                <option value="M" {% if member.gender == 'M' %} selected {% endif %}>Male</option>
                                                <option value="F" {% if member.gender == 'F' %} selected {% endif %}>Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                                <!--date of birth-->
                                <div class="col-md-5" style="padding:0px;">
                                    <div class="new-member-form-control">
                                        <div class="form-group">
                                            <label for="memberDateOfBirth" class="control-label">Date of Birth</label>
                                            <label id="memberDateOfBirthError" style="color: red;padding: 0px 10px;display:inline;"></label>
                                            <input value="{{ member.date_of_birth|date:'Y-m-d' }}" type="date" class="form-control" id="memberDateOfBirth" name="date_of_birth">
                                        </div>
                                    </div>
                                </div>
                                <!--photo-->
                                <div class="col-md-5 " style="padding:0px;">
                                    <div class="new-member-form-control">
                                        <label for="memberPhone2" class="control-label">Photo</label>
                                        <div class="input-group">
                                            <label class="input-group-btn">
                                        <span id="memberPhotoEdit" class="btn btn-primary btn-fill">
                                            Browse&hellip; <input name="photo_file" type="file" style="display: none;" accept=".png,.jpg" >
                                        </span>
                                    </label>
                                            <input type="text" class="form-control" style="cursor:default" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            <!------------------------------->
                            <!--email section-->
                            <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                                <div class="new-member-form-control">
                                    <div class="form-group">
                                        <label for="memberEmail" class="control-label">Email</label>
                                        <!--<label id="editNumberOfCouponsError" style="color: red;padding: 0px 15px;"></label>-->
                                        <input value="{{ member.email }}" type="email" class="form-control" id="memberEmail" name="email" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <!------------------------------->
                            <!--phone number section-->
                            <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                                <!--phone 1-->
                                <div class="col-md-6" style="padding:0px;">
                                    <div class="new-member-form-control">
                                        <div class="form-group">
                                            <label for="memberPhone1" class="control-label">Phone Number 1</label>
                                            <!--<label id="editNumberOfCouponsError" style="color: red;padding: 0px 15px;"></label>-->
                                            <input value="{{ member.phone1 }}" type="tel" class="form-control" id="memberPhone1" name="phone1" placeholder="Phone Number 1">
                                        </div>
                                    </div>
                                </div>
                                <!--phone 2-->
                                <div class="col-md-6 " style="padding:0px;">
                                    <div class="new-member-form-control">
                                        <div class="form-group">
                                            <label for="memberPhone2" class="control-label">Phone Number 2</label>
                                            <!--<label id="editNumberOfCouponsError" style="color: red;padding: 0px 15px;"></label>-->
                                            <input value="{{ member.phone2 }}" type="tel" class="form-control" id="memberPhone2" name="phone2" placeholder="Phone Number 2">
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-md-2"></div>-->
                            </div>
                            <!------------------------------->
                            <!--programme of study section-->
                            <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                                <div class="col-md-5" style="padding:0px;">
                                    <div class="new-member-form-control">
                                        <!--programme of study section-->
                                        <div class="form-group">
                                            <label for="memberProgrammeofStudy" class="control-label">Programme</label>
                                            <select name="programme_of_study" class="form-control" id="memberProgrammeofStudy" required>
                                                <!--we use 0 as the default value here, which will never get to the server anyway-->
                                                <!--The ids for the various programmes of study will start from 1-->
                                                <option value="" disabled>Select Programme of Study</option>                                    
                                                {% for pg in programmes_of_study %}
                                                <option value="{{ pg.id }}" {% if member.programme_of_study == pg.id %} selected {% endif %}>{{ pg.name }}</option> 
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3" style="padding:0px;">
                                    <div class="new-member-form-control">
                                        <!--year of study-->
                                        <div class="form-group">
                                            <label for="memberYearOfStudy" class="control-label">Year</label>
                                            <select name="year_of_study" class="form-control" id="memberYearOfStudy" required>                                        
                                                <option value="" disabled>Level of Study</option>   <!--serve as header-->                                                              
                                                <option value="100" {% if member.year_of_study == 100 %} selected {% endif %}>Level 100</option>
                                                <option value="200" {% if member.year_of_study == 200 %} selected {% endif %}>Level 200</option>
                                                <option value="300" {% if member.year_of_study == 300 %} selected {% endif %}>Level 300</option>
                                                <option value="400" {% if member.year_of_study == 400 %} selected {% endif %}>Level 400</option>
                                                <option value="500" {% if member.year_of_study == 500 %} selected {% endif %}>Level 500</option>
                                                <option value="600" {% if member.year_of_study == 600 %} selected {% endif %}>Level 600</option>                
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4"></div>

                            </div>
                            <!------------------------------->
                            <!--residence section-->
                            <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                                <div class="col-md-5" style="padding:0px;">
                                    <div class="new-member-form-control">
                                        <!--hostel section-->
                                        <div class="form-group">
                                            <label for="memberHostel" class="control-label">Hostel</label>
                                            <select name="hostel" class="form-control" required>
                                                <!--we use 0 as the default value here, which will never get to the server anyway-->
                                                <!--The ids for the various hostels will start from 1-->                             
                                                <option value="" disabled>Select Hostel</option>                                    
                                                {% for hostel in hostels %}
                                                <option value="{{ hostel.id }}" {% if member.hostel == hostel.id %} selected {% endif %}>{{ hostel.name }}</option> 
                                                {% endfor %}                                    
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--room number section-->
                                <div class="col-md-3 " style="padding:0px;">
                                    <div class="new-member-form-control">
                                        <div class="form-group">
                                            <label for="memberRoomNumber" class="control-label">Room Number</label>
                                            <!--<label id="editNumberOfCouponsError" style="color: red;padding: 0px 15px;"></label>-->
                                            <input value="{{ member.room_number }}" type="text" class="form-control" id="memberRoomNumber" name="room_number" placeholder="Room Number" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <!-- --------------------------- -->
                            <!--committees. the commttee(s) the member joins-->
                            <div class="col-md-12 " style="padding-left:0px;padding-right:0px;padding-bottom:0px;">
                                <div class="new-member-form-control">
                                    <label class="control-label">Committees</label>
                                    <label id="memberCommitteesError" style="color: red;padding: 0px 10px;display:inline;"></label>
                                    <input id="memberCommittees" type="text" name="committees" hidden>
                                    <!--will hold the selected committees' ids -->
                                </div>
                            </div>
                            <!--Member's committees display only-->
                            <div class="col-md-12">
                                <div class="form-group">
                                    {% if member.all_committees %}
                                    <div class="btn-toolbar">
                                        {% for committee in member.all_committees %}
                                        <a href="{% url 'admin-committee_detail' id=committee.id %}" class="btn btn-link btn-fill btn-primary">
                                                    {{ committee.name }}
                                                </a> {% endfor %}
                                    </div>
                                    {% else %}
                                    <div class="btn-group btn-group-justified">
                                        <div class="btn btn-group btn-default ">Member is in no committee</div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-md-12" style="padding-left:0px;padding-right:0px;padding-top:0px;display:none;">
                                <!--input(s) for handling the editting of the member's committees-->
                                {% for committee in committees %}
                                <div class="col-md-2" style="padding:0px;">
                                    <div class="new-member-form-control">
                                        <div class="form-control" style="margin-left:2px;">
                                            <label class="checkbox-inline"><input class="commitee-checkbox" type="checkbox" value="{{committee.id}}">{{ committee.name }}</label>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <!--<div class="col-md-6"></div>-->
                            <div class="clearfix visible-md"></div>
                            <!-- ----------------------- -->
                            <!--the lower part of the modal form. This is the section that holds the buttons for the form and the modal as whole-->                            
                            <div class="modal-footer" style="padding-left:0px;padding-right:0px;">
                                {% block action_buttons %}
                                    <!--extended code goes here-->
                                {% endblock %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

 <!--modals section-->
 <!--inheritted from base.html-->
{% block modals %}{% endblock %} 

<!--scripts section-->
<!--inherited from base.html-->
{% block extra_scripts %}
<script>
    //we select the button in the navbar that should be highlighted
    document.getElementById("navMembers").className += " active";    
    
    function disE() {
        $("input").attr("disabled", true);
        $("input").attr("readonly", true);
        $("input").css("background", "white");
        $("input").css("cursor", "default");

        $("select").prop("disabled", 'disabled');
        $("select").css("background", "white");
        $("select").css("cursor", "default");

        $("#memberPhotoEdit").prop("disabled", "disabled");
        $("#memberPhotoEdit").css("cursor", "default");       
    } 
    //initially, we disable input elements
    disE();
</script>
<!--the extra js scripts of child templates go here-->
{% block scripts %}
    <!--extra scritps of child pages-->
{% endblock %}

{% endblock %}

