{% extends 'base.html' %}

{% block main_content %}	
<!--
  <div class="container-fluid">
    <div class="col-md-3"></div>
		
		Search bar at the top of the content
    <div class="col-md-6" style="margin-top:10px; padding-left:2px; padding-right:2px;">
      <form>
				<input type="text" class="form-control" placeholder="Search...">								
      </form>
    </div>
			
    <div class="col-md-3"></div>
  </div>
-->

  <div class="content">
    <div class="container-fluid">
			<div class="row">
					<div class="col-md-12">
							<div class="card">
<!--
									<div class="header">
											<h4 class="title">202 Awesome Stroke Icons</h4>
											<p class="category">Handcrafted by our friends from <a target="_blank" href="http://themes-pixeden.com/font-demos/7-stroke/index.html">Pixeden</a></p>
									</div>
-->
									<div class="content ">
											<div class="row">	
                        
											</div>
									</div>
							</div>
					</div>
			</div>
		</div>
  </div>

{% endblock %}

{% block extra_scripts %}
<script>
    //we select the button in the navbar that should be highlighted
    document.getElementById("navCommittees").className += " active";
</script>
{% endblock %}