{% extends 'base.html' %} {% block main_content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <!--display a success message if given-->
                        {% if success_message %}
                        <h5 style="color:green;font:bold">{{ success_message }}</h5>
                        {% endif %}
                        <!--display error message if any-->
                        {% if error_message %}
                        <h5 style="color:red;font:bold">{{ error_message }}</h5>
                        {% endif %}
                        <h5 style="display:none;color:red;font:bold">Could not delete Section</h5>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;padding-right:0px;">
                                <div class="col-md-10 col-sm-9 col-xs-12" style="padding-left:5px;padding-right:5px;">
                                    <input placeholder="Enter name of new committee here ..." class="form-control" type="text" name="name" style="width:100%" required>
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-8" style="padding-left:5px;padding-right:5px;">
                                    <button type="submit" class="btn btn-primary btn-fill" style="align:center;width:100%;padding-left:0px;padding-right:0px;text-align:center;">Add New Committee</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="content committees">
                        <div class="row">
                            {% for committee in committees %}
                            <!--												<div class=" col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">-->
                            <div class=" col-lg-3 col-md-4 col-sm-4 col-xs-6 col-xs-6">
                                <div role="button" detailUrl="{% url 'admin-committee_detail' id=committee.id %}" onclick="viewCommitteeDetail(this)" class="committee-link" href="{% url 'admin-committee_detail' id=committee.id %}">
                                    <div class="committee-detail">
                                        <img src="{{ committee.logo|default:'https://i.imgur.com/VZkou72.jpg' }}"></img>
                                        <input readonly type="text" value="{{ committee.name }}">
                                        <input readonly type="text" value="Created: {{ committee.date_added }}">
                                        <a class="btn-link" href="{% url 'admin-members' %}?committee={{ committee.id }}"><input readonly type="text" value="{{ committee.number_of_members }} members"></a>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <div class="col-md-12 committees-none">No committees have been formed yet</div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block extra_scripts %}
<script>
    //we select the button in the navbar that should be highlighted
    document.getElementById("navCommittees").className += " active";

    function viewCommitteeDetail(committee) {
        window.location = committee.getAttribute("detailUrl");
    }
</script>
{% endblock %}