{% extends 'base.html' %} {% block main_content %}
<!--Search bar at the top of the content-->
<div class="container-fluid" style="padding-top:10px;">

    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-xs-12 col-sm-10" style="padding:0px;">
        <input id="search-input" type="text" class="form-control" placeholder="Search by name of hostel...">
    </div>
    <div class="col-md-1 col-sm-1"></div>
</div>

<div class="content" style="padding:15px;">
    <div class="container-fluid" style="padding-left:0px;padding-right:0px;">
        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
            <div class="card">
                <div class="header">
                    <!--display a success message if given-->
                    {% if success_message %}
                    <h5 style="color:green;font:bold">{{ success_message }}</h5>
                    {% endif %}
                    <!--display error message if any-->
                    {% if error_message %}
                    <h5 style="color:red;font:bold">{{ error_message }}</h5>
                    {% endif %}
                    <h5 style="display:none;color:red;font:bold">Could not delete hostel</h5>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;padding-right:0px;">
                            <div class="col-md-7 col-sm-7 col-xs-12" style="padding-left:0px;padding-right:0px;">
                                <input placeholder="Enter a new Hostel here ..." class="form-control" type="text" name="name" style="width:100%" required>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-8" style="padding-left:5px;padding-right:0px;">
                                <select name="section" class="form-control" required>                                        
                                    <option value="" disabled selected>Select Section</option>                                    
                                    {% for section in sections %}
                                        <option value="{{ section.id }}">{{ section.name }}</option> 
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-8" style="padding-left:5px;padding-right:0px;">
                                <button type="submit" class="btn btn-primary btn-fill" style="align:center;width:100%;padding-left:0px;padding-right:0px;text-align:center;">Add New Hostel</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead style="padding-left:20px; padding-right:20px">
                            <col width="50%">
                            <col width="30%">
                            <col width="10%">
                            <col width="10%">
                            <th style="text-align:left;padding-left:20px;">Name</th>
                            <th>Info</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </thead>
                        <tbody>
                            {% for hs in hostels %}
                            <div class="hostel-data">
                                <tr id="row_{{hs.id}}" role="button">
                                    <td id="hostelName_{{hs.id}}" style="text-align:left;padding-left:20px;" class="hostel-name">{{ hs.name|title }}</td>
                                    <td>
                                        <a class="btn-link" href="{% url 'admin-members' %}?hostel={{ hs.id }}">{{ hs.number_of_members }} &nbsp;members</a>
                                    </td>
                                    <td><button hostelId="{{hs.id}}" class="btn btn-danger btn-fill" onclick="onDeleteClick(this)" url="{% url 'admin-hostel_update' id=hs.id %}" data-toggle="modal" data-target="#deleteHostelDialog">Delete</button></td>
                                    <td><button hostelId="{{hs.id}}" class="btn btn-default btn-fill" onclick="onEditClick(this)" url="{% url 'admin-hostel_update' id=hs.id %}" data-toggle="modal" data-target="#editHostelDialog">Edit</button></td>
                                </tr>
                            </div>
                            {% empty %}
                            <tr>
                                <td colspan="4">No hostel has been added yet</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
<!--the modals in this page-->
{% block modals %}
<!--dialog for confirmation of the deletion of a hostel-->
<div class="modal fade" id="deleteHostelDialog" role="dialog" style="display:none;" url="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Confirm Action</h4>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to delete this hostel?</h5>
                <div class="modal-footer">
                    <button type="submit" role="submit" class="btn btn-fill btn-danger" onclick="deleteHostel()"> Yes</button>
                    <button type="button" class="btn btn-fill btn-success" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--dialog for editting a hostel-->
<div class="modal fade" id="editHostelDialog" role="dialog" style="display:none;" url="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Edit Hostel</h4>
            </div>
            <div class="modal-body">
                <!--the 'action' attribute of the form will be set when a hostel's edit button is clicked-->
                <form id="editHostelForm" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <input id="editHostelNewName" class="form-control" type="text" name="name" placeholder="Enter the new name here ..." required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" role="submit" class="btn btn-fill btn-success">Update</button>
                        <button type="button" class="btn btn-fill btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--extra javascript for this page goes here-->
{% block extra_scripts %}
<script>
    //we select the button in the navbar that should be highlighted
    document.getElementById("navHostels").className += " active";

    $("#search-input").keyup(function() {
        var query = $(this).val().toLowerCase();
        $(".hostel-name").each(function() {
            var s = $(this).text().toLowerCase();
            $(this).closest('.hostel-data')[s.indexOf(query) !== -1 ? 'show' : 'hide']();
        });
    });

    //called when user clicks on the YES button in the deleteHostelDialog
    function deleteHostel() {
        var url = document.getElementById("deleteHostelDialog").getAttribute("url");
        $.ajax({
            url: url,
            method: 'DELETE',
            success: function(result) {
                //reload the page if deletion was successful
                location.reload(true);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                //show an error message
                $("#deletionErrorMessage").show();
            }
        })
    }

    //called when the delete button of any of the hostels is called
    function onDeleteClick(button) {
        var url = button.getAttribute('url');
        document.getElementById("deleteHostelDialog").setAttribute("url", url);
    }

    function onEditClick(button) {
        //set the 'action' attribute for the editHostelForm
        //this url is what will be used to update the hostel
        var actionUrl = button.getAttribute("url");
        var id = button.getAttribute("hostelId");
        var hostelName = document.getElementById("hostelName_" + id).innerHTML;
        document.getElementById("editHostelNewName").setAttribute("value", hostelName);
        document.getElementById("editHostelForm").setAttribute("action", actionUrl);
    }
</script>
{% endblock %}