{% extends 'base.html' %}
<!--this page will in addition, provide buttons for editting the data of the user-->
{% block action_buttons %}
    <button id="buttonUpdate" type="submit" class="btn btn-success btn-fill " style="margin-right:10px;display:none;">Update</button>
    <!--the deletionReason attr holds the variable that will be passed as 'action' in the url-->
    <button id="buttonMarkCompleted" onclick="onMarkCompletedClick()" url="{% url 'admin-member_delete' id=member.id action='inact'%}" type="button" class="btn btn-danger btn-fill " style="margin-right:10px;display:none;" data-toggle="modal" data-target="#confirmDeletion">Mark as Completed</button>
    <button id="buttonUnregister" onclick="onUnregisterClick()" url="{% url 'admin-member_delete' id=member.id action='unreg'%}" type="button" class="btn btn-danger btn-fill " style="margin-right:10px;display:none;" data-toggle="modal" data-target="#confirmDeletion">Unregister</button>
    <button id="buttonEnableEditting" type="button" onclick="enableEditting()" class="btn btn-default ">Enable Editting</button>
{% endblock %}

<!--modals of the page-->
{% block modals %}
<div class="modal fade" id="confirmDeletion" role="dialog" aria-labelledby="confirmDeletion" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="modal-body delete-reason">
                <h5 id="deleteConfirmationMessage"></h5>
                <div class="modal-footer">
                    <button type="button" class="btn btn-fill btn-default" data-dismiss="modal">No</button>
                    <button id="buttonDelete" onclick="deleteMember()" type="button" actionUrl="" role="submit" class="btn btn-fill btn-danger ">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--inheritted from base_member_detail.html-->
{% block scripts %}
<script>
    function enableEditting() {
        $("input").attr("disabled", false);
        $("input").attr("readonly", false); //remove readonly attribute from input tags
        $("select").prop("disabled", false); //enable select tags

        //show/hide appropriate buttons
        $("#buttonUpdate").show();
        $("#buttonMarkCompleted").show();
        $("#buttonUnregister").show();
        $("#buttonEnableEditting").hide();
    }

    function disableEditting() {
        $("input").attr("readonly", true);
        $("input").css("background", "white");
        $("input").css("cursor", "default");

        $("select").prop("disabled", 'disabled');
        $("select").css("background", "white");
        $("select").css("cursor", "default");

        $("#memberPhotoEdit").prop("disabled", "disabled");
        $("#memberPhotoEdit").css("cursor", "default");

        //show/hide appropriate buttons
        $("#buttonUpdate").hide();
        $("#buttonMarkCompleted").hide();
        $("#buttonUnregister").hide();
        $("#buttonEnableEditting").show();
    }    

    function validateUpdateForm(form) {
        var hasErrors = false; //indicates there is an error in validation        
        if (document.getElementById("memberDateOfBirth").value == getCurrentDate()) {
            document.getElementById("memberDateOfBirthError").innerHTML = "*FIELD REQUIRED";
            hasErrors |= true;
        } else {
            document.getElementById("memberDateOfBirthError").innerHTML = "";
        }

        // var selectedCommittees = getSelectedCommitteeIds();
        // if (selectedCommittees == null) {
        //     document.getElementById("newMemberCommitteesError").innerHTML = "*FIELD REQUIRED";
        //     hasErrors |= true;
        // } else {
        //     document.getElementById("newMemberCommittees").value = selectedCommittees;
        //     document.getElementById("newMemberDateOfBirthError").innerHTML = "";
        // }

        return !hasErrors; //the submission of the form is allowed only when there are no error in validation
    }

    function getSelectedCommitteeIds() {
        var checkboxes = document.getElementsByClassName("commitee-checkbox");
        var checkboxesChecked = [];
        // loop over them all
        for (var i = 0; i < checkboxes.length; i++) {
            // And stick the checked ones onto an array...
            if (checkboxes[i].checked) {
                checkboxesChecked.push(checkboxes[i].value);
            }
        }

        if (checkboxesChecked.length > 0) {
            return checkboxesChecked.join();
        } else {
            return null;
        }
    }

    //send a request to the server to delete the current member,
    //this function handles both unregisteration and marking a member as completed
    function deleteMember() {
        window.location.href = $("#buttonDelete").attr("actionUrl");
    }

    //invoked when buttonMarkCompleted is clicked
    function onMarkCompletedClick() {
        //we set an appropriate message in the deletion confirmation dialog
        $("#deleteConfirmationMessage").text("Are you sure you want to mark this member as 'completed?'");
        $("#buttonDelete").attr("actionUrl", $("#buttonMarkCompleted").attr("url"));
    }

    //invoked when buttonUnregister is clicked
    function onUnregisterClick() {
        //we set an appropriate message in the deletion confirmation dialog
        $("#deleteConfirmationMessage").text("Are you sure you want to unregister this member?");
        $("#buttonDelete").attr("actionUrl", $("#buttonUnregister").attr("url"));
    }

    //initially, we disable editting
     disableEditting();
</script>
{% endblock %}