{% extends 'base.html' %} {% block main_content %}
<!--Search bar at the top of the content-->
<div class="container-fluid" style="padding-top:10px;">

    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-8 col-xs-12 col-sm-8" style="padding:0px;">
        <input id="search-input" type="text" class="form-control" placeholder="Search by name...">
    </div>
    <!--<div class="col-md-2 col-sm-2"></div>-->
    <!--<div class="btn-group">-->
    <!--	The academic year selector	-->
    <div class="col-md-2 col-sm-2">
        <select onchange="viewMembersInPeriod(this)" id="periodSelector" class="form-control" style="width:auto;">
            <option value="c" {% ifequal period 'c' %} selected {% endifequal %}>Current Members</option>
            <option value="p" {% ifequal period 'p' %} selected {% endifequal %}>Past Members</option>
            <option value="a" {% ifequal period 'a' %} selected {% endifequal %}>All</option>  
        </select>
    </div>
    <div class="col-md-1 col-sm-1"></div>

    <!--	The committee selector	-->
    <!--<div class="btn-group" style="padding-left:2px;">
            <div class="dropdown">
                <button href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" selectedId="">
					Committee<b class="caret" style="margin-left:5px;"></b>
				</button>
                <ul id="commiteeFilterMenu" class="dropdown-menu">
                    <li><a class="dropdown-title">Committees</a></li>
                    <li class="divider" style="margin:1px;"></li>
                    {% for com in committees %}
                    <li class="dropdown-value"><a href="#" id="{{ com.id }}">{{ com.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>-->
    <!--</div>-->

</div>

<div class="content" style="padding:15px;">
    <div class="container-fluid" style="padding-left:0px;padding-right:0px;">
        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
            <div class="card">
                <div class="header">
                    <a href="{% url 'admin-new_member' %}" class="btn btn-primary btn-fill">
                        <i class="pe-7s-add-user"></i>
                        <p style="display:inline;">New Member</p>
                    </a>
                    <a href="{% url 'admin-unconfirmed_members' %}" class="btn btn-primary btn-fill">
                        <i class="pe-7s-add-user"></i>
                        <p style="display:inline;">({{unconfirmed_members_count}}) Unconfirmed Members</p>
                    </a>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                            <th>Photo</th>
                            <th>Gender</th>
                            <th style="text-align:left;">Name</th>
                            <th>Year of Study</th>
                            <th style="text-align:left;">Programme</th>
                            <th style="text-align:left;">Hostel</th>
                        </thead>
                        <tbody>
                            {% for member in members %}
                            <tr class="member-data" role="button" onclick="viewMemberDetail(this)" detailUrl="{% url 'admin-member_detail' id=member.id %}">
                                <td>
                                    <img class="tr-image" src="{{ member.photo|default:'https://i.imgur.com/VZkou72.jpg' }}" style="margin:0px; padding:0px;" />
                                </td>
                                <td>
                                    {% if member.gender == "M" %} {{ 'Male' }} {% else %} {{'Female' }} {% endif %}
                                </td>
                                <td class="member-name" style="text-align:left;">{{ member.full_name }}</td>
                                <td>{{ member.year_of_study }}</td>
                                <td style="text-align:left;">{{ member.programme_of_study.name }}</td>
                                <td style="text-align:left;">{{ member.hostel.name }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                {% ifequal period 'p' %}
                                <td colspan="7">Seems there are no past students</td>
                                {% else %}
                                <td colspan="7">No member has registered yet</td>
                                {% endifequal %}
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!--the content of the modals in this page-->
{% block modals %}
<div id="newMemberDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Register a new member</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>

    </div>
</div>
{% endblock %}

 {% block extra_scripts %}
<script>
    //we select the button in the navbar that should be highlighted
    document.getElementById("navMembers").className += " active";

    $("#search-input").keyup(function() {
        var query = $(this).val().toLowerCase();
        $(".member-name").each(function() {
            var s = $(this).text().toLowerCase();
            $(this).closest('.member-data')[s.indexOf(query) !== -1 ? 'show' : 'hide']();
        });
    });

    function viewMemberDetail(row) {
        window.location = row.getAttribute('detailUrl');
    }

    function viewMembersInPeriod(periodSelector) {
        currentUrl = window.location;
        window.location.search = insertQueryParams(currentUrl, "period", periodSelector.value);
    }

    //check for errors in the input of the new member form.
    //we allow the data to be posted to the server only when there are no errors
    function validateNewMemberForm(form) {
        var numberOfCouponsInput = document.getElementById("edit-number-of-coupons");
        var giftLabelInput = document.getElementById("edit-gift-label");
        var hasErrors = false; //indicates there is an error in validation
        if (numberOfCouponsInput.value == null || numberOfCouponsInput.value.trim() == "") {
            document.getElementById("editNumberOfCouponsError").innerHTML = "*FIELD REQUIRED"
            hasErrors |= true;
        }
        if (giftLabelInput.value == null || giftLabelInput.value.trim() == "") {
            document.getElementById("editGiftLabelError").innerHTML = "*FIELD REQUIRED"
            hasErrors |= true;
        }
        return !hasErrors; //the submission of the form is allowed only when there are no error in validation
    }
</script>
{% endblock %}