{% extends 'base.html' %}
<!--the main content of this page-->
{% block main_content %}
<div class="content" style="padding:15px;">
    <div class="container-fluid" style="padding-left:0px;padding-right:0px;">
        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
            <div class="card">
                <!--<div class="header">
                        <h4 class="title">View and Edit existing Gifts</h4>
                    </div>-->
                <div class="content">
                    <!--show a success message if appropriate-->
                    {% if success_message %}
                    <p class="success_message">{{ success_message }}</p>
                    {% endif %}
                    <!--show error message if appropriate-->
                    {% if error_message %}
                    <p class="error_message">{{ error_message }}</p>
                    {% endif %}
                    <p>Please enter the info of a new member below and click register</p>
                    <form id="newMemberForm" onsubmit="return validateNewMemberForm(this)" method="POST" enctype="multipart/form-data">
                        <!--photo date_of_birth-->
                        {% csrf_token %}
                        <!--member's names section-->
                        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                            <!--surname section-->
                            <div class="col-md-6" style="padding:0px;">
                                <div class="new-member-form-control">
                                    <div class="form-group">
                                        <label for="newMemberSurname" class="control-label">Surname</label>
                                        <!--<label id="editNumberOfCouponsError" style="color: red;padding: 0px 15px;"></label>-->
                                        <input value="{{ last_name|default:'' }}" style="width:100%" type="text" class="form-control" id="newMemberSurname" name="last_name" placeholder="Surname" required>
                                    </div>
                                </div>
                            </div>
                            <!--first name section-->
                            <div class="col-md-6 " style="padding:0px;">
                                <div class="new-member-form-control">
                                    <div class="form-group">
                                        <label for="newMemberFirstName" class="control-label">First Name</label>
                                        <!--<label id="editNumberOfCouponsError" style="color: red;padding: 0px 15px;"></label>-->
                                        <input value="{{ first_name|default:'' }}" style="width:100%" type="text" class="form-control" id="newMemberFirstName" name="first_name" placeholder="First Name" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--other names section-->
                        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                            <div class="col-md-10" style="padding:0px;">
                                <div class="new-member-form-control">
                                    <div class="form-group">
                                        <label for="newMemberOtherNames" class="control-label">Other Names</label>
                                        <!--<label id="editNumberOfCouponsError" style="color: red;padding: 0px 15px;"></label>-->
                                        <input value="{{ other_names|default:'' }}" type="text" class="form-control" id="newMemberOtherNames" name="other_names" placeholder="Other Names">
                                    </div>
                                </div>
                            </div>
                            <!--gender section-->
                            <div class="col-md-2 " style="padding:0px;">
                                <div class="new-member-form-control">
                                    <div class="form-group">
                                        <label for="newMemberGender" class="control-label">Gender</label>
                                        <select name="gender" class="form-control" id="newMemberGender" required>
                                                {% if gender %}
                                                    <option value="" disabled>Select</option>
                                                    <option value="M" {% if gender == 'M' %} selected {% endif %}>Male
                                                    </option>
                                                    <option value="F" {% if gender == 'F' %} selected {% endif %}>
                                                        Female
                                                    </option>
                                                {% else %}
                                                    <option value="" disabled selected>Select</option>
                                                    <option value="M">Male</option>
                                                    <option value="F">Female</option>
                                                {% endif %}
                                            </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                            <!--date of birth-->
                            <div class="col-md-5" style="padding:0px;">
                                <div class="new-member-form-control">
                                    <div class="form-group">
                                        <label for="newMemberDateOfBirth" class="control-label">Date of
                                                Birth</label>
                                        <label id="newMemberDateOfBirthError" style="color: red;padding: 0px 10px;display:inline;"></label>
                                        <input type="date" id="newEditionReleaseDate" data-provide="datepicker" data-date-format="yyyy-mm-dd" class="form-control mar-10 datepicker" placeholder="Edition Release Date" name="release_date" style="background-color:white">
                                        <!--<input value="{{ date_of_birth|default:''}}" type="text" class="form-control" id="newMemberDateOfBirth" name="date_of_birth" placeholder="YYY/MM/DD">-->
                                    </div>
                                </div>
                            </div>
                            <!--photo-->
                            <div class="col-md-5 " style="padding:0px;">
                                <div class="new-member-form-control">
                                    <label for="newMemberPhone2" class="control-label">Photo</label>
                                    <div class="input-group">
                                        <label class="input-group-btn">
                                        <span class="btn btn-primary btn-fill">
                                            Browse&hellip; <input name="photo_file" type="file" style="display: none;"
                                                                  accept=".png,.jpg">
                                        </span>
                                            </label>
                                        <input type="text" class="form-control" style="cursor:default" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <!------------------------------->
                        <!--email section-->
                        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                            <div class="new-member-form-control">
                                <div class="form-group">
                                    <label for="newMemberEmail" class="control-label">Email</label>
                                    <!--<label id="editNumberOfCouponsError" style="color: red;padding: 0px 15px;"></label>-->
                                    <input value="{{ email|default:'' }}" type="email" class="form-control" id="newMemberEmail" name="email" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <!------------------------------->
                        <!--phone number section-->
                        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                            <!--phone 1-->
                            <div class="col-md-6" style="padding:0px;">
                                <div class="new-member-form-control">
                                    <div class="form-group">
                                        <label for="newMemberPhone1" class="control-label">Phone Number 1</label>
                                        <!--<label id="editNumberOfCouponsError" style="color: red;padding: 0px 15px;"></label>-->
                                        <input value="{{ phone1|default:'' }}" type="tel" class="form-control" id="newMemberPhone1" name="phone1" placeholder="Phone Number 1">
                                    </div>
                                </div>
                            </div>
                            <!--phone 2-->
                            <div class="col-md-6 " style="padding:0px;">
                                <div class="new-member-form-control">
                                    <div class="form-group">
                                        <label for="newMemberPhone2" class="control-label">Phone Number 2</label>
                                        <!--<label id="editNumberOfCouponsError" style="color: red;padding: 0px 15px;"></label>-->
                                        <input value="{{ phone2|default:'' }}" type="tel" class="form-control" id="newMemberPhone2" name="phone2" placeholder="Phone Number 2">
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-md-2"></div>-->
                        </div>
                        <!------------------------------->
                        <!--programme of study section-->
                        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                            <div class="col-md-5" style="padding:0px;">
                                <div class="new-member-form-control">
                                    <!--programme of study section-->
                                    <div class="form-group">
                                        <label for="newMemberProgrammeofStudy" class="control-label">Programme</label>
                                        <select name="programme_of_study" class="form-control" id="newMemberProgrammeofStudy" required>
                                                <!--we use 0 as the default value here, which will never get to the server anyway-->
                                                <!--The ids for the various programmes of study will start from 1-->
                                                {% if programme_of_study %}
                                                    <option value="" disabled>Select Programme of Study</option>
                                                    {% for pg in programmes_of_study %}
                                                        <option value="{{ pg.id }}" {% if programme_of_study == pg.id %}
                                                                selected {% endif %}>{{ pg.name }}</option>
                                                    {% endfor %}
                                                {% else %}
                                                    <option value="" disabled selected>Select Programme of Study
                                                    </option>
                                                    {% for pg in programmes_of_study %}
                                                        <option value="{{ pg.id }}">{{ pg.name }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3" style="padding:0px;">
                                <div class="new-member-form-control">
                                    <!--year of study-->
                                    <div class="form-group">
                                        <label for="newMemberYearOfStudy" class="control-label">Year</label>
                                        <select name="year_of_study" class="form-control" id="newMemberYearOfStudy" required>
                                                {% if year_of_study %}
                                                    <option value="" disabled>Level of Study</option>
                                                    <!--serve as header-->
                                                    <option value="100" {% if year_of_study == 100 %}
                                                            selected {% endif %}>Level 100
                                                    </option>
                                                    <option value="200" {% if year_of_study == 200 %}
                                                            selected {% endif %}>Level 200
                                                    </option>
                                                    <option value="300" {% if year_of_study == 300 %}
                                                            selected {% endif %}>Level 300
                                                    </option>
                                                    <option value="400" {% if year_of_study == 400 %}
                                                            selected {% endif %}>Level 400
                                                    </option>
                                                    <option value="500" {% if year_of_study == 500 %}
                                                            selected {% endif %}>Level 500
                                                    </option>
                                                    <option value="600" {% if year_of_study == 600 %}
                                                            selected {% endif %}>Level 600
                                                    </option>
                                                {% else %}
                                                    <option value="" disabled selected>Level of Study</option>
                                                    <!--serve as header-->
                                                    <option value="100">Level 100</option>
                                                    <option value="200">Level 200</option>
                                                    <option value="300">Level 300</option>
                                                    <option value="400">Level 400</option>
                                                    <option value="500">Level 500</option>
                                                    <option value="600">Level 600</option>
                                                {% endif %}
                                            </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4"></div>

                        </div>
                        <!------------------------------->
                        <!--residence section-->
                        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                            <div class="col-md-5" style="padding:0px;">
                                <div class="new-member-form-control">
                                    <!--hostel section-->
                                    <div class="form-group">
                                        <label for="newMemberHostel" class="control-label">Hostel</label>
                                        <select name="hostel" class="form-control" required>
                                                <!--we use 0 as the default value here, which will never get to the server anyway-->
                                                <!--The ids for the various hostels will start from 1-->
                                                {% if hostel %}
                                                    <option value="" disabled>Select Hostel</option>
                                                    {% for hst in hostels %}
                                                        <option value="{{ hst.id }}" {% if hostel == hst.id %}
                                                                selected {% endif %}>{{ hst.name }}</option>
                                                    {% endfor %}
                                                {% else %}
                                                    <option value="" disabled selected>Select Hostel</option>
                                                    {% for hostel in hostels %}
                                                        <option value="{{ hostel.id }}">{{ hostel.name }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                    </div>
                                </div>
                            </div>
                            <!--room number section-->
                            <div class="col-md-3 " style="padding:0px;">
                                <div class="new-member-form-control">
                                    <div class="form-group">
                                        <label for="newMemberRoomNumber" class="control-label">Room Number</label>
                                        <!--<label id="editNumberOfCouponsError" style="color: red;padding: 0px 15px;"></label>-->
                                        <input value="{{ room_number|default:'' }}" type="text" class="form-control" id="newMemberRoomNumber" name="room_number" placeholder="Room Number" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <!------------------------------->
                        <!--committees. the commttee(s) the member joins-->
                        <div class="col-md-12 " style="padding-left:0px;padding-right:0px;padding-bottom:0px;">
                            <div class="new-member-form-control">
                                <label class="control-label">Committees</label>
                                <label id="newMemberCommitteesError" style="color: red;padding: 0px 10px;display:inline;"></label>
                                <input id="newMemberCommittees" type="text" name="committees" hidden>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-left:0px;padding-right:0px;padding-top:0px;">
                            <!--will hold the selected committees' ids -->
                            {% for committee in committees %}
                            <div class="col-md-3" style="padding:0px;">
                                <div class="new-member-form-control">
                                    <div class="form-control" style="margin-left:2px;">
                                        <label class="checkbox-inline"><input class="committee-checkbox"
                                                                                      type="checkbox"
                                                                                      value="{{ committee.id }}">{{ committee.name }}
                                                </label>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!--<div class="col-md-6"></div>-->
                        <div class="clearfix visible-md"></div>
                        <!-- ----------------------------------------------- -->
                        <!--the lower part of the modal form. This is the section that holds the buttons for the form and the modal as whole-->
                        <div class="modal-footer" style="padding-left:0px;padding-right:0px;">
                            <button type="submit" class="btn btn-success btn-fill">Register</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block extra_scripts %}
<script>
    //we select the button in the navbar that should be highlighted
    document.getElementById("navMembers").className += " active";

    //check for errors in the input of the new member form.
    //we allow the data to be posted to the server only when there are no errors
    function validateNewMemberForm(form) {
        var hasErrors = false; //indicates there is an error in validation
        alert(document.getElementById("newMemberDateOfBirth").value);
        return false;
        if (document.getElementById("newMemberDateOfBirth").value == getCurrentDate()) {
            document.getElementById("newMemberDateOfBirthError").innerHTML = "*FIELD REQUIRED";
            hasErrors |= true;
        } else {
            document.getElementById("newMemberDateOfBirthError").innerHTML = "";
        }
        //
        var selectedCommittees = getSelectedCommitteeIds();
        if (selectedCommittees == null) {
            document.getElementById("newMemberCommitteesError").innerHTML = "*FIELD REQUIRED";
            hasErrors |= true;
        } else {
            document.getElementById("newMemberCommittees").value = selectedCommittees;
            document.getElementById("newMemberDateOfBirthError").innerHTML = "";
        }

        return !hasErrors; //the submission of the form is allowed only when there are no error in validation
    }

    function getSelectedCommitteeIds() {
        var checkboxes = document.getElementsByClassName("committee-checkbox");
        var checkboxesChecked = [];
        // loop over them all
        for (var i = 0; i < checkboxes.length; i++) {
            // And stick the checked ones onto an array...
            if (checkboxes[i].checked) {
                checkboxesChecked.push(checkboxes[i].value);
            }
        }

        if (checkboxesChecked.length > 0) {
            return checkboxesChecked.join();
        } else {
            return null;
        }
    }

    function getCurrentDate() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = yyyy + '-' + mm + '-' + dd;
        return today;
    }

    $(function() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        today = yyyy + '-' + mm + '-' + dd;

        //we set the max date of the date of birth field
        //document.getElementById("newMemberDateOfBirth").setAttribute("max", today);
        //document.getElementById("newMemberDateOfBirth").value = today;

        // We can attach the `fileselect` event to all file inputs on the page
        $(document).on('change', ':file', function() {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        // We can watch for our custom `fileselect` event like this
        $(document).ready(function() {
            $(':file').on('fileselect', function(event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;
                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });
        });
    });
</script>
{% endblock %}