{% extends 'base.html' %} {% block main_content %}
<!--Search bar at the top of the content-->
<div class="container-fluid" style="padding-top:10px;">

    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-xs-12 col-sm-10" style="padding:0px;">
        <input id="search-input" type="text" class="form-control" placeholder="Search messages...">
    </div>
    <div class="col-md-1 col-sm-1"></div>

</div>

<div class="content" style="padding:15px;">
    <div class="container-fluid" style="padding-left:0px;padding-right:0px;">
        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
            <div class="card">
                <div class="header">
                    {% if erorr_message %}
                    <div class="col-md-12">
                        <h5 style="color:red;font-weight:bold;margin: 0px 0px 0px 0px;">{{ erorr_message }}</h5>
                    </div>
                    {% endif %}
                    <!--if there is a success message-->
                    {% if success_message %}
                    <div class="col-md-12">
                        <h5 style="color:green;font-weight:bold;margin: 0px 0px 0px 0px;">{{ success_message }}</h5>
                    </div>
                    {% endif %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                            <div class="col-md-10" style="padding-left:0px;padding-right:0px;">
                                <input placeholder="Enter a new message here ..." class="form-control" type="text" name="message" style="width:100%" required>
                            </div>
                            <div class="col-md-2" style="padding-right:0px;">
                                <button type="submit" class="btn btn-primary btn-fill" style="width:100%">Send New Notification</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped table-condensed">
                        <col width="20%">
                        <col width="100%">
                        <thead>
                            <th>Date Created</th>
                            <th style="text-align:left;">Message</th>
                        </thead>
                        <tbody>
                            {% for n in notifications %}
                            <tr class="notification-data" role="button">
                                <td>{{ n.date_created }}</td>
                                <td class="notification-message" style="text-align:left;">{{ n.message }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
<!-modals go here--->
{% block modals %} {% endblock %}
<!-modals go here--->
{% block extra_scripts %}
<script>
    //we select the button in the navbar that should be highlighted
    document.getElementById("navNotifications").className += " active";

    $("#search-input").keyup(function() {
        var query = $(this).val().toLowerCase();
        $(".notification-message").each(function() {
            var s = $(this).text().toLowerCase();
            $(this).closest('.notification-data')[s.indexOf(query) !== -1 ? 'show' : 'hide']();
        });
    });


    //check for errors in the input of the new member form.
    //we allow the data to be posted to the server only when there are no errors
    function validateNewNotificationForm(form) {
        var numberOfCouponsInput = document.getElementById("edit-number-of-coupons");
        var giftLabelInput = document.getElementById("edit-gift-label");
        var hasErrors = false; //indicates there is an error in validation
        if (numberOfCouponsInput.value == null || numberOfCouponsInput.value.trim() == "") {
            document.getElementById("editNumberOfCouponsError").innerHTML = "*FIELD REQUIRED"
            hasErrors |= true;
        }
        if (giftLabelInput.value == null || giftLabelInput.value.trim() == "") {
            document.getElementById("editGiftLabelError").innerHTML = "*FIELD REQUIRED"
            hasErrors |= true;
        }
        return !hasErrors; //the submission of the form is allowed only when there are no error in validation
    }
</script>
{% endblock %}