{% extends 'base.html' %} {% block main_content %}
<!--Search bar at the top of the content-->
<div class="container-fluid" style="padding-top:10px;">

    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-xs-12 col-sm-10" style="padding:0px;">
        <input id="search-input" type="text" class="form-control" placeholder="Search by name...">
    </div>
    <div class="col-md-1 col-sm-1"></div>
</div>

<div class="content" style="padding:15px;">
    <div class="container-fluid" style="padding-left:0px;padding-right:0px;">
        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
            <div class="card">
                <div class="header">
                    <!--display a success message if given-->
                    {% if success_message %}
                    <h5 style="color:green;font:bold">{{ success_message }}</h5>
                    {% endif %}
                    <!--display error message if any-->
                    {% if error_message %}
                    <h5 style="color:red;font:bold">{{ error_message }}</h5>
                    {% endif %}
                    <h5 style="display:none;color:red;font:bold">Could not delete programme</h5>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;padding-right:0px;">
                            <div class="col-md-10 col-sm-9 col-xs-12" style="padding-left:0px;padding-right:0px;">
                                <input placeholder="Enter a new Programme of Study here ..." class="form-control" type="text" name="name" style="width:100%" required>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-8" style="padding-left:2px;padding-right:0px;">
                                <button type="submit" class="btn btn-primary btn-fill" style="align:center;width:100%;padding-left:0px;padding-right:0px;text-align:center;">Add New Programme</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead style="padding-left:20px; padding-right:20px">
                            <col width="50%">
                            <col width="30%">
                            <col width="10%">
                            <col width="10%">
                            <th style="text-align:left;padding-left:20px;">Name</th>
                            <th>Info</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </thead>
                        <tbody>
                            {% for pg in programmes %}
                            <div class="programme-data">
                                <tr id="row_{{pg.id}}" role="button">
                                    <td id="programmeName_{{pg.id}}" style="text-align:left;padding-left:20px;" class="programme-name">{{ pg.name|title }}</td>
                                    <td>
                                        <a class="btn-link" href="{% url 'admin-members' %}?programme-of-study={{ pg.id }}">{{ pg.number_of_members }} &nbsp;members</a>
                                    </td>
                                    <td><button programmeId="{{pg.id}}" class="btn btn-danger btn-fill" onclick="onDeleteClick(this)" url="{% url 'admin-programme_of_study_update' id=pg.id %}" data-toggle="modal" data-target="#deleteProgrammeDialog">Delete</button></td>
                                    <td><button programmeId="{{pg.id}}" class="btn btn-default btn-fill" onclick="onEditClick(this)" url="{% url 'admin-programme_of_study_update' id=pg.id %}" data-toggle="modal" data-target="#editProgrammeDialog">Edit</button></td>
                                </tr>
                            </div>
                            {% empty %}
                            <tr>
                                <td colspan="4">No programme of study has been created yet</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
<!--the modals in this page-->
{% block modals %}
<!--dialog for confirmation of the deletion of a programme of study-->
<div class="modal fade" id="deleteProgrammeDialog" role="dialog" style="display:none;" url="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Confirm Action</h4>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to delete this programme of study?</h5>
                <div class="modal-footer">
                    <button type="submit" role="submit" class="btn btn-fill btn-danger" onclick="deleteProgramme()"> Yes</button>
                    <button type="button" class="btn btn-fill btn-success" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--dialog for editting a programme of study-->
<div class="modal fade" id="editProgrammeDialog" role="dialog" style="display:none;" url="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Edit Programme of Study</h4>
            </div>
            <div class="modal-body">
                <!--the 'action' attribute of the form will be set when a programme's edit button is clicked-->
                <form id="editProgrammeForm" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <input id="editProgrammeNewName" class="form-control" type="text" name="name" placeholder="Enter the new name here ..." required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" role="submit" class="btn btn-fill btn-success">Update</button>
                        <button type="button" class="btn btn-fill btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--extra javascript for this page goes here-->
{% block extra_scripts %}
<script>
    //we select the button in the navbar that should be highlighted
    document.getElementById("navProgrammesOfStudy").className += " active";

    $("#search-input").keyup(function() {
        var query = $(this).val().toLowerCase();
        $(".programme-name").each(function() {
            var s = $(this).text().toLowerCase();
            $(this).closest('.programme-data')[s.indexOf(query) !== -1 ? 'show' : 'hide']();
        });
    });

    //called when user clicks on the YES button in the deleteProgrammeDialog
    function deleteProgramme() {
        var url = document.getElementById("deleteProgrammeDialog").getAttribute("url");
        $.ajax({
            url: url,
            method: 'DELETE',
            success: function(result) {
                //reload the page if deletion was successful
                location.reload(true);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                //show an error message
                $("#deletionErrorMessage").show();
            }
        })
    }

    //called when the delete button of any of the programmes is called
    function onDeleteClick(button) {
        var url = button.getAttribute('url');
        document.getElementById("deleteProgrammeDialog").setAttribute("url", url);
    }

    function onEditClick(button) {
        //set the 'action' attribute for the editProgrammeForm
        //this url is what will be used to update the programme
        var actionUrl = button.getAttribute("url");
        var id = button.getAttribute("programmeId");
        var programmeName = document.getElementById("programmeName_" + id).innerHTML;
        document.getElementById("editProgrammeNewName").setAttribute("value", programmeName);
        document.getElementById("editProgrammeForm").setAttribute("action", actionUrl);
    }
</script>
{% endblock %}