{% extends 'base.html' %} {% block main_content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content committees">
                        <div class="row">
                            {% for section in sections %}
                            <div class=" col-lg-3 col-md-4 col-sm-4 col-xs-6 col-xs-6">
                                <div role="button" detailUrl="{% url 'admin-section_detail' id=section.id %}" onclick="viewSectionDetail(this)" class="committee-link">
                                    <div class="committee-detail">
                                        <input readonly type="text" value="{{ section.name }}">
                                        <a class="btn-link" href="{% url 'admin-members' %}?section={{ section.id }}"><input readonly type="text" value="{{ section.number_of_hostels }} hostels"></a>
                                        <a class="btn-link" href="{% url 'admin-members' %}?section={{ section.id }}"><input readonly type="text" value="{{ section.number_of_members }} members"></a>
                                        <!--<div class="btn btn-fill btn-danger pull-right" style="padding-bottom:0px">Delete</div>-->


                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <div class="col-md-12 committees-none">No sections have been created yet</div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
<!--modals section-->
{% block modals %}
<!--confirm section deletion modal-->
<div class="modal fade" id="confirmDeletion" role="dialog" aria-labelledby="confirmDeletion" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="modal-body delete-reason">
                <h5 id="deleteConfirmationMessage">Are you sure you want to delete this Section?<br>This action cannot be reversed!</h5>
                <div class="modal-footer">
                    <button type="button" class="btn btn-fill btn-default" data-dismiss="modal">No</button>
                    <button onclick="deleteSection()" type="button" actionUrl="" role="submit" class="btn btn-fill btn-danger ">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeletion" role="dialog" aria-labelledby="confirmDeletion" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="modal-body delete-reason">
                <h5 id="deleteConfirmationMessage"></h5>
                <div class="modal-footer">
                    <button type="button" class="btn btn-fill btn-default" data-dismiss="modal">No</button>
                    <button id="buttonDelete" onclick="deleteMember()" type="button" actionUrl="" role="submit" class="btn btn-fill btn-danger ">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--scripts section-->
{% block extra_scripts %}
<script>
    //we select the button in the navbar that should be highlighted
    document.getElementById("navSections").className += " active";

    function viewCommitteeDetail(committee) {
        window.location = committee.getAttribute("detailUrl");
    }

    function deleteSection() {

    }
</script>
{% endblock %}