{% extends 'base.html' %} {% block main_content %}
<!--Search bar at the top of the content-->
<div class="container-fluid" style="padding-top:10px;">
    <!--the divs surrounding the input are just for spacing-->
    <div class="col-md-1 col-sm-1"></div> 
    <!--the field at the top for searching-->
    <div class="col-md-10 col-xs-12 col-sm-10" style="padding:0px;">
        <input id="search-input" type="text" class="form-control" placeholder="Search by name...">
    </div>
    <div class="col-md-1 col-sm-1"></div>
</div>

<div class="content" style="padding:15px;">
    <div class="container-fluid" style="padding-left:0px;padding-right:0px;">
        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
            <div class="card">
                <div class="header">
                    <form method="POST" action="{% url 'admin-unconfirmed_members' action='accept' %}" style="display: inline; margin: 5px 5px;">
                        {% csrf_token %}
                        <button type="submit" role="submit" class="btn btn-fill btn-success ">Confirm All</button>                        
                    </form> 
                    <form method="POST" action="{% url 'admin-unconfirmed_members' action='accept' %}" style="display: inline; margin: 5px 5px;">
                        {% csrf_token %}
                        <button type="submit" role="submit" class="btn btn-fill btn-danger ">Reject All</button>
                    </form>
                    <!--<a href="{% url 'admin-unconfirmed_members' action='accept' %}" style="margin: 5px 5px 5px 5px;" class="btn btn-success btn-fill">
                        <i class="pe-7s-add-user"></i>
                        <p style="display:inline;">Confirm All</p>
                    </a>
                    <a href="{% url 'admin-unconfirmed_members' action='reject' %}" style="margin: 5px 5px 5px 5px;" class="btn btn-danger btn-fill">
                        <i class="pe-7s-delete-user"></i>
                        <p style="display:inline;">Reject All</p>
                    </a>-->
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                            <th>Photo</th>
                            <th>Gender</th>
                            <th style="text-align:left;">Name</th>
                            <th>Year of Study</th>
                            <th style="text-align:left;">Programme</th>
                            <th style="text-align:left;">Hostel</th>
                        </thead>
                        <tbody>
                            {% for member in members %}
                            <tr class="member-data" role="button" onclick="viewMemberDetail(this)" detailUrl="{% url 'admin-unconfirmed_members' id=member.id %}">
                                <td>
                                    <img class="tr-image" src="{{ member.photo|default:'https://i.imgur.com/VZkou72.jpg' }}" style="margin:0px; padding:0px;" />
                                </td>
                                <td>
                                    {% if member.gender == "M" %} {{ 'Male' }} {% else %} {{'Female' }} {% endif %}
                                </td>
                                <td class="member-name" style="text-align:left;">{{ member.full_name }}</td>
                                <td>{{ member.year_of_study }}</td>
                                <td style="text-align:left;">{{ member.programme_of_study.name }}</td>
                                <td style="text-align:left;">{{ member.hostel.name }}</td>
                            </tr>
                            {% empty %}
                            <tr>                            
                                <td colspan="7">Seems there are no unconfirmed members</td>                                
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!--the content of the modals in this page-->
<!--{% block modals %}
<div id="newMemberDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Register a new member</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>

    </div>
</div>
{% endblock %}-->

 {% block extra_scripts %}
<script>
    //we select the button in the navbar that should be highlighted
    document.getElementById("navMembers").className += " active";

    // searching functionality
    $("#search-input").keyup(function() {
        var query = $(this).val().toLowerCase();
        $(".member-name").each(function() {
            var s = $(this).text().toLowerCase();
            $(this).closest('.member-data')[s.indexOf(query) !== -1 ? 'show' : 'hide']();
        });
    });

    function viewMemberDetail(row) {
        window.location = row.getAttribute('detailUrl');
    }    
</script>
{% endblock %}