{% extends 'base_member_detail.html' %}
<!--this page will in addition, provide buttons for editting the data of the user-->
{% block action_buttons %}       
    <button id="buttonReject" onclick="onRejectUserRegistrationClick()" url="{% url 'admin-unconfirmed_members' id=member.id action='reject' %}" type="button" class="btn btn-danger btn-fill " data-toggle="modal" data-target="#modalDialog">Reject</button>    
    <button id="buttonConfirm" onclick="onConfirmUserRegisrationClick()" url="{% url 'admin-unconfirmed_members' id=member.id action='accept' %}" type="button" class="btn btn-success btn-fill " data-toggle="modal" data-target="#modalDialog">Confirm</button>    
{% endblock %}

<!--modals of the page-->
{% block modals %}
<div class="modal fade" id="modalDialog" role="dialog" aria-labelledby="confirmDeletion" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="modalTitle"></h4>
            </div>
            <div class="modal-body delete-reason">
                <h5 id="modalMessage"></h5>
                <div class="modal-footer">
                    <form id="modalForm" method="POST" action="#">
                         {% csrf_token %}
                        <button type="button" class="btn btn-fill btn-default" data-dismiss="modal">No</button>
                        <button type="submit" role="submit" class="btn btn-fill btn-default ">Yes</button>
                    </form>                   
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--inheritted from base_member_detail.html-->
{% block scripts %}
<script>         
    //invoked when the Confirm User Registration button is clicked
    function onRejectUserRegistrationClick() {
        //we set an appropriate message in the deletion confirmation dialog
        $("#modalTitle").text("Reject User Registration");
        $("#modalMessage").text("Are you sure you want to reject the registration of this member?");
        $("#modalForm").attr("action", $("#buttonReject").attr("url"));
    }

    //called when the Reject User Registration button is clicked
    function onConfirmUserRegisrationClick() {
        //we set an appropriate message in the deletion confirmation dialog
        $("#modalTitle").text("Confirm User Registration");
        $("#modalMessage").text("Are you sure you want to confirm the registration of this member?");
        $("#modalForm").attr("action", $("#buttonConfirm").attr("url"));
    }
</script>
{% endblock %}